html, body{
  margin: 0;
  background-color: #e5ece8;
}

#container{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 900px;
  background-color: #d4e8dd;
  border: solid 1px #caf0da;
}

#content-box{
  margin-top: 15px;
  margin-right: 5px;
  background-color: white;
  float: right;
  width: 800px;
  height: 820px;
  overflow: auto;
}

#content-box ul, #userlist ul{
  padding: 0;
}

#content-box li{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  list-style-type: none;
  padding: 5px;
}

#content-box li:nth-child(even){
  background-color: #d0cfcf;
  padding: 5px;
}

#userlist{
  float:left;
  margin-top: 15px;
  margin-left: 15px;
  width: 160px;
  height: 870px;
  background-color: white;
  overflow: auto;
}

#userlist li#users{
  font-family: 'Luckiest Guy', cursive;
  color: #d4e8dd;
  text-shadow: 0 0 2px black;
}

#userlist li{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  list-style-type: none;
  padding: 5px;
}

#userlist li:nth-child(even){
  background-color: #d0cfcf;
  padding: 5px;
}

#post-content{
  float:right;
  margin-right: 5px;
  width:800px;
  height:50px;
  background-color: #f1eeee;
}

input[type="text"]{
  font-family: 'Open Sans', sans-serif;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  width: 740px;
  margin-top: 5px;
  margin-left: 5px;
}

input:focus{
    outline: 0;
}

input[type="submit"]{
  font-family: 'Ubuntu', sans-serif;
  background-color: #d4e8dd;
  outline:none;
  border: none;
}

#terms{
  margin-left: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

#terms a{
  font-family: 'Open Sans', sans-serif;
  color: #0040ff;
  text-decoration: none;
}

#terms a:hover{
  color: #00d1ff;
  text-decoration: none;
}
